body {  
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Plus Jakarta Sans", sans-serif;
 
    background-image: url(unblured.jpeg);
    background-size: cover;
   background-attachment: fixed;
    
  }
  .container {
    flex: 1;
  }
  /* Navbar */
   
  .fa-compass {
    color: #fe424d;
    font-size: 2rem;
  }
  .nav-link {
    color: #222222 !important;
  }
  
  /* FOOTER */
  .f-info-links a {
    text-decoration: none;
    color: #222222;
     
 
  }
  .f-info-links a:hover {
    text-decoration: underline;
  }
  .f-info-links,
  .f-info-social,
  .f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .f-info-social i {
    font-size: 1.2rem;
    margin-right: 1rem;
  }
  .f-info {
    text-align: center;
    height: 8rem;
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
       
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6px);
-webkit-backdrop-filter: blur(6px);
border: 1px solid rgba(255, 255, 255, 0.3);
    
  }
  
  /* CARDS  */
  .listing-card {
    border: none;
    margin-bottom: 2rem;
 
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6px);
-webkit-backdrop-filter: blur(6px);
border: 1px solid rgba(255, 255, 255, 0.3);
   
  }
  .card-img-top {
    border-radius: 1rem;
    width: 100%;
    object-fit: cover;
  }
  .card-body {
    padding: 0;
  }
  .card-text p {
    font-weight: 400;
  }
  /* Listing link */
  .listing-link {
    text-decoration: none;
  }
  
  .card-img-overlay {
    opacity: 0;
  }
  
  .card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
  }
  
  /* new page */
  .add-btn {
    background-color: #fe424d;
    border: none;
  }
  /* edit page */
  .edit-btn {
    background-color: #fe424d;
    border: none;
  }
  @media (max-width:769px){
    .edit-btn{
      width: 4rem;
      
    }
  }
  /* show page */
  .show-img {
    height: 30vh;
  }
  .btns {
    display: flex;
  }
  .show-card {
    padding-left: 0;
    padding-right: 0;
  }
  
  
  /* mapbox */
  #map {
   width: 1px;
   height: 1px;
    /* width: 40rem; 
    
  }
  .marker {
    background-image: url('/css/icon.svg');
    /* background-size: cover; */
    
    width: 1.37rem;
    height: 1.37rem;
  }
 
  .border-bottom{
  border: none !important;
 }

 .form-control{
  
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6px);
-webkit-backdrop-filter: blur(6px);
border: 1px solid rgba(255, 255, 255, 0.3);
 }
 .btn-outline-dark{
   
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6px);
-webkit-backdrop-filter: blur(6px);
border: 1px solid rgba(255, 255, 255, 0.3);
 }

    